/* Tag selector to select the 'body' element */
body {
    background: #00b3e6;
    text-align: center;
  }
  div {
    width: 700px;
    margin: auto;
    font-family: Georgia;
    background: lightblue;
    padding: 30px;
  }
  ul{
    text-align: left;
    padding-left: 25%;
  }
  #main-header {
    color: darkblue;
    font-size: 22px;
  }
  .perspective-questions {
    font-style: italic;
  }